body {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  opacity: 0.9; /* Adjust the opacity value as needed */
}

.frame-19 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Adjust the height to fit your design */
}

.frame-20 {
  background: #ffffff;
  width: 600px; /* Default width */
  height: 650px; /* Default height */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.transaction-details {
  font-size: 24px; /* Adjust the font size as needed */
  margin-top: 20px; /* Adjust the top margin to create space */
  font-family:'Poppins', sans-serif;
  color: #000000;
}

/* Exclude .frame-20 from the opacity effect */
body:not(.frame-20):not(.close-button) {
  opacity: 0.8; /* Adjust the opacity value as needed */
}
.frame-20 {
  display: flex;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family:'Poppins', sans-serif;
}

.centered-label {
  text-align: center;
}

.left-side{
  position: absolute;
  left: 60px;
  top:120px;
}
.right-side{
  position: absolute;
  right: 60px;
  top:120px;
}
/* Optional: Add some spacing between labels */
.left-side label,
.right-side label {
  margin-bottom: 40px;
}
.tip{
  position: absolute;
  top: 550px;
  color: red;
  max-width: 70%;
  text-align: center;
  font-family:'Poppins', sans-serif;
}
.close,
.close * {
  box-sizing: border-box;
}
.close {
  position: absolute;
  top: 470px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  max-width: 70%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.close-button {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 121px;
  height: 26px;
  position: relative;
  z-index: 2; /* Ensure the close button is on top */
  margin-top: 20px; /* Adjust the top margin as needed */
}
.closebutton2 {
  background: #0280c7;
  border-radius: 20px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 179px;
  height: 34px;
  position: relative;
  z-index: 2;
}
.close-text {
  color: #ffffff;
  text-align: left;
  font: 400 20px/100% "SuezOne-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (min-width: 768px) {
  .frame-20 {
    background: #ffffff;
    width: 500px;
    height: 650px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
}
  
  


  
